# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.env.*
!.env.example
*.sqlite3
*.db
venv/

# VSCode
.vscode/

# OS
.DS_Store

# App
app.zip
uploads/
outputs/
*.log

# Test
.coverage
htmlcov/
.tox/
.pytest_cache/
